<template>
    <div class="wrapper">
        <input type="range" v-bind="$attrs" min="0" step="1" v-model="internalValue" @input="onInput">
    </div>
</template>

<script>
    import mixin from "../mixins"
    
    export default {
        name: 'Slider',
        inheritAttrs: false,
        mixins: [mixin],
        data() {
            return {
                internalValue: 0
            }
        },
        props: {
            value: {
                type: Number
            }
        },
        watch: {
            value() {
                this.internalValue = this.value;
            }
        },
        methods: {
            onInput() {
                this.$emit("input", +this.internalValue)
            },
            incrementValue() {
                this.internalValue++;
            }
        }
    }
</script>

<style scoped>
    input{
        width: 200px;
    }
</style>
