<template>
    <div id="sliderValueWrapper">
        <span v-text="value"></span>
    </div>
</template>

<script>
    import mixin from "../mixins"
    
    export default {
        name: 'Text',
        mixins: [mixin],
        data() {
            return {}
        },
        props: {
            value: {
                type: Number,
                default: 0
            }
        },
        methods: {}
    }
</script>

<style scoped>
    #sliderValueWrapper span{
        font-size: 100px;
    }
</style>
