:root{
	font-size: calc(1em + 1vw);
}
body{
	background-color: #090909;
}

#contenu{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.loader{
	width: 250px;
	height: 250px;
	position: relative;
}
span{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #fff176;
	border-radius: 4px;
	animation: animate 6.5s linear infinite;
}
/*span:before{*/
/*	content: '. .';*/
/*	font-size: 1em;*/
/*	width: 100%;*/
/*	position: absolute;*/
/*	top: -14px;*/
/*	animation: eyes 1.5s ease-in-out infinite;*/
/*}*/

/*span:after{*/
/*	content: '';*/
/*	position: absolute;*/
/*	width: 5px;*/
/*	height: 2px;*/
/*	background-color: transparent;*/
/*	border: 1px solid #000000;*/
/*	border-radius: 50%;*/
/*	top: 70%;*/
/*	left: 50%;*/
/*	transform: translateX(-50%) translateY(-30%);*/
/*	animation: mouth 1.5s ease-in-out infinite;*/
/*}*/

span:nth-child(1){
	animation-delay: 0s;
}

span:nth-child(2){
	background-color: #67b4bf;
	animation-delay: -0.5s;
}
span:nth-child(3){
	background-color: #cb5261;
	animation-delay: -1s;
}
/*@keyframes animate{*/
/*	0%{*/
/*		transform: translate3d(0, 0, 0);*/
/*	}*/
/*	25%{*/
/*		transform: translate3d(300%, 0, 0);*/
/*	}*/
/*	50%{*/
/*		transform: translate3d(300%, 300%, 0);*/
/*	}*/
/*	75%{*/
/*		transform: translate3d(0, 300%, 0);*/
/*	}*/
/*	100%{*/
/*		transform: translate3d(0, 0, 0);*/
/*	}*/
/*}*/
/*@keyframes eyes{*/
/*	0%{*/
/*		transform: translate3d(2px, 0, 0);*/
/*	}*/
/*	50%{*/
/*		transform: translate3d(25px, 0, 0);*/
/*	}*/
/*	100%{*/
/*		transform: translate3d(2px, 0, 0);*/
/*	}*/
/*}*/
/*@keyframes mouth{*/
/*	0%{*/
/*		width: 5px;*/
/*	}*/
/*	50%{*/
/*		width: 25px;*/
/*	}*/
/*	100%{*/
/*		width: 5px;*/
/*	}*/
/*}*/