<template>
    <div id="app">
        <v-slider v-if="show" ref="text"
                  v-for="(item,index) in [1,2,3]"
                  v-model="sliderValue"
                  max="70">
        </v-slider>
        <v-text ref="slider" v-bind="sliderModel" :test="1" :sd="3" :value="sliderValue"></v-text>
        <button @click="onClick">+1</button>
    </div>
</template>

<script>
    import vSlider from './components/v-slider.vue'
    import vText from './components/v-text.vue'
    
    export default {
        name: 'app',
        data() {
            return {
                show: true,
                sliderValue: 0,
                sliderModel: {
                    test: 1,
                    value: 2
                }
            }
        },
        components: {
            vSlider,
            vText
        },
        methods: {
            onClick(){
                this.$refs.slider.incrementValue();
            }
        },
        created(){
            this.show = false;
            console.log(this.$refs.slider);
        },
        mounted(){
            debugger;
            
            console.log(this.$refs.slider);
        }
    }
</script>

<style>
    #app{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        margin: 100px 0 0 100px;
    }
</style>
