<link rel="stylesheet" href="src/css/custom-component.css">
<link rv-import="co-slider">

<p rv-html="text" rv-style="style" rv-on-click="clickHandler"></p>

<co-slider class='default'model="sliderModel" rv-value="counter">
    <span rv-html="counter"></span>
</co-slider>
