<template>
    <div class="wrapper">
        <input type="range" min="0" max="100" step="1" v-model="value" @input="onInput">
    </div>
</template>

<script>
    export default {
        name: 'Slider',
        data() {
            return {
                value: 0
            }
        },
        props: {},
        methods: {
            onInput(event) {
                //this.$parent.sliderValue = this.value;
                this.$emit("input", event, this.value)
            }
        }
    }
</script>

<style scoped>
    input{
        width: 200px;
    }
</style>
