<template>
    <div id="app">
        <v-slider @input="setSliderValue"></v-slider>
        <v-text :value="sliderValue"></v-text>
    </div>
</template>

<script>
    import vSlider from './components/v-slider.vue'
    import vText from './components/v-text.vue'
    
    export default {
        name: 'app',
        data() {
            return {
                sliderValue: 0
            }
        },
        components: {
            vSlider,
            vText
        },
        methods: {
            setSliderValue(event, value) {
                debugger;
                this.sliderValue = +value;
            }
        }
    }
</script>

<style>
    #app{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        margin: 100px 0 0 100px;
    }
</style>
