<template>
	<div id="app">
		<blog-post :counter="4">
			<template v-slot:description>
				<p>Number is:</p>
			</template>
		</blog-post>

		<blog-post title="My second title" :counter="5"></blog-post>
	</div>
</template>

<script>
	import blogPost from './components/blogPost';

	export default {
		name: 'app',
		components: {
			blogPost,
		},
	};
</script>

<style>
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
	}
</style>
