<template>
	<div>
		<h2>{{ myTitle }}</h2>

		<slot name="description"></slot>

		<p>{{ myCounter }}</p>
		<button @click="increment()">Increment</button>
		<button @click="decrement()">Decrement</button>
		<button @click="destroy()">Destroy</button>
	</div>
</template>

<script>
	export default {
		props: {
			counter: {
				type: Number,
				required: true,
			},
			title: {
				type: String,
				default: 'Default title',
			},
		},
		data() {
			return {
				myCounter: this.counter,
			};
		},
		computed: {
			myTitle() {
				return this.title
					.split('')
					.reverse()
					.join('');
			},
		},
		methods: {
			increment() {
				this.myCounter++;
			},
			decrement() {
				this.myCounter--;
			},
			destroy() {
				this.$destroy();
			},
		},
		beforeCreate() {
			console.log('beforeCreated');
		},
		created() {
			console.log('created');
		},
		beforeMount() {
			console.log('beforeMount');
		},
		mounted() {
			console.log('mounted');
		},
		beforeDestroy() {
			console.log('beforeDestroy');
		},
		destroyed() {
			console.log('destroyed');
		},
		beforeUpdate() {
			console.log('beforeUpdate');
		},
		updated() {
			console.log('updated');
		},
	};
</script>

<style scoped>
	h2 {
		color: dodgerblue;
	}
</style>