<template>
    <div id="app">
        <v-slider ref="slider" v-model="sliderValue" max="70"></v-slider>
        <v-text ref="text" :value="sliderValue"></v-text>
        <button @click="onClick">+1</button>
    </div>
</template>

<script>
    import vSlider from './components/v-slider.vue'
    import vText from './components/v-text.vue'
    
    export default {
        name: 'app',
        data() {
            return {
                sliderValue: 0
            }
        },
        components: {
            vSlider,
            vText
        },
        methods: {
            onClick(){
                this.$refs.slider.incrementValue();
            }
        },
        created(){
        },
        mounted(){
        }
    }
</script>

<style>
    #app{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        margin: 100px 0 0 100px;
    }
</style>
