/**
 * Material theme for Shower HTML presentation engine
 * shower-material v1.1.0, https://github.com/shower/material
 * @copyright 2010–2017 Vadim Makeev, http://pepelsbey.net/
 * @license MIT
 */

@charset "UTF-8";
@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-regular.woff) format("woff")
}
@font-face {
    font-weight: 700;
    font-family: Roboto;
    src: url(../fonts/roboto-bold.woff) format("woff")
}
@font-face {
    font-style: italic;
    font-family: Roboto;
    src: url(../fonts/roboto-italic.woff) format("woff")
}
@font-face {
    font-style: italic;
    font-weight: 700;
    font-family: Roboto;
    src: url(../fonts/roboto-bold-italic.woff) format("woff")
}
@font-face {
    font-family: Roboto Light;
    src: url(../fonts/roboto-light.woff) format("woff")
}
@font-face {
    font-family: Roboto Mono;
    src: url(../fonts/roboto-mono-regular.woff) format("woff")
}
*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}
.caption p,
.shower,
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote::after,
blockquote::before,
q::after,
q::before {
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a {
    text-decoration: none
}
@page {
    margin: 0;
    size: 1024px 768px
}
.shower {
    color: #212121;
    counter-reset: slide;
    font-family: Roboto, sans-serif;
    -webkit-print-color-adjust: exact;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none
}
@media print {
    .shower {
        text-rendering: geometricPrecision
    }
}
.caption {
    margin-top: -24px;
    font-size: 24px;
    display: none;
    margin-bottom: 1em;
    padding: 1.02em 0 .9em 1em;
    width: 100%;
    background: #4caf50 linear-gradient(135deg, #4caf50 50%, #449e48 50%) no-repeat
}
@media (min-width: 1168px) {
    .caption {
        margin-top: -48px;
        font-size: 48px
    }
}
@media (min-width: 2336px) {
    .caption {
        margin-top: -96px;
        font-size: 96px
    }
}
.caption h1 {
    padding-bottom: .28em;
    color: #fff;
    font: 1.17em/1 Roboto Light, sans-serif
}
.caption p {
    color: #c9e7cb;
    font-size: .58em
}
.caption a {
    color: inherit
}
.slide {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 104px 112px 0 96px;
    width: 1024px;
    height: 768px;
    background: #fff;
    line-height: 2;
    font-size: 24px
}
.slide::after {
    position: absolute;
    left: 96px;
    bottom: 48px;
    color: #bdbdbd;
    counter-increment: slide;
    content: counter(slide)
}
.slide h2 {
    margin-bottom: 32px;
    color: #212121;
    font: 48px/1 Roboto Light, sans-serif
}
.slide p {
    margin-bottom: 1em
}
.slide p.note,
.slide pre .comment {
    /* color: #9e9e9e */
}
.slide a {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.09em, currentColor), color-stop(.09em, transparent)) repeat-x;
    background: linear-gradient(to top, currentColor .09em, transparent .09em) repeat-x;
    color: #4caf50
}
.slide b,
.slide strong {
    font-weight: 700
}
.slide blockquote,
.slide dfn,
.slide em,
.slide i {
    font-style: italic
}
.slide code,
.slide kbd,
.slide mark,
.slide samp {
    padding: .1em .3em;
    /* background: #dbefdc */
}
.slide code,
.slide kbd,
.slide samp {
    /* line-height: 1; */
    font-family: Roboto Mono, monospace, monospace
}
.slide sub,
.slide sup {
    position: relative;
    line-height: 0;
    font-size: 75%
}
.slide sub {
    bottom: -.25em
}
.slide sup {
    top: -.5em
}
.slide blockquote::before {
    position: absolute;
    margin: -.04em 0 0 -.4em;
    color: #bdbdbd;
    line-height: 1;
    font-style: normal;
    font-size: 7em;
    content: '\201D'
}
.slide blockquote+figcaption {
    margin: -1em 0 1em;
    font-style: italic;
    font-weight: 700
}
.slide ol,
.slide ul {
    margin-bottom: 1em;
    counter-reset: list
}
.slide ol li,
.slide ul li {
    page-break-inside: avoid;
    text-indent: -2em
}
.slide ol li::before,
.slide ul li::before {
    display: inline-block;
    width: 2em;
    color: #bdbdbd;
    text-align: right
}
.slide ol ol,
.slide ol ul,
.slide ul ol,
.slide ul ul {
    margin-bottom: 0;
    margin-left: 2em
}
.slide ul>li::before {
    padding-right: .5em;
    content: '•'
}
.slide ul>li:lang(ru)::before {
    content: '—'
}
.slide ol>li::before {
    padding-right: .4em;
    counter-increment: list;
    content: counter(list) "."
}
.slide ol>li[value]::before {
    content: attr(value) "."
}
.slide ul>li[value]::before {
    content: attr(value)
}
.slide table {
    margin-left: -96px;
    margin-bottom: 1em;
    width: calc(100% + 96px + 112px)
}
.slide table td:first-child,
.slide table th:first-child {
    padding-left: 96px
}
.slide table td:last-child,
.slide table th:last-child {
    padding-right: 96px
}
.slide table th {
    text-align: left;
    font-weight: 700
}
.slide table tr:not(:last-of-type)>* {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.055em, #bdbdbd), color-stop(.055em, transparent)) repeat-x;
    background: linear-gradient(to top, #bdbdbd .055em, transparent .055em) repeat-x
}
.slide table.striped tr:nth-child(even) {
    background: #edf7ee
}
.slide table.striped tr>* {
    background-image: none
}
.slide pre {
    margin-bottom: 1em;
    /* counter-reset: code; */
    white-space: normal
}
.slide pre code {
    display: block;
    margin-left: -96px;
    padding: 0 0 0 96px;
    width: calc(100% + 96px + 112px);
    /* background: 0 0; */
    line-height: 2;
    white-space: pre;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}
.slide pre code:not(:only-child).mark {
    background: #edf7ee
}
.slide pre code:not(:only-child)::before {
    position: absolute;
    margin-left: -2em;
    /* color: #bdbdbd; */
    /* counter-increment: code; */
    /* content: counter(code, decimal-leading-zero) "." */
}
.slide pre mark {
    position: relative;
    z-index: -1;
    margin: 0 -.3em
}
.slide pre mark.important {
    /* background: #4caf50; */
    /* color: #fff */
}
.progress,
.slide footer {
    position: absolute;
    left: 0;
    z-index: 1;
    display: none
}
.slide footer {
    right: 0;
    padding: 2em 112px 1em 96px;
    background: #edf7ee;
    bottom: -768px;
    -webkit-transition: bottom .3s;
    transition: bottom .3s
}
.slide:hover>footer {
    bottom: 0
}
.slide.grid {
    background-image: url(../images/grid.png);
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
    .slide.grid {
        background-image: url(../images/grid@2x.png);
        background-size: 1024px auto
    }
}
.slide.black {
    background-color: #000
}
.slide.white {
    background-color: #fff
}
.slide.clear.active {
    z-index: 2
}
.slide.clear::after {
    visibility: hidden
}
.slide .double,
.slide .triple {
    -webkit-column-gap: 48px;
    column-gap: 48px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}
.slide .double {
    -webkit-column-count: 2;
    column-count: 2
}
.slide .triple {
    -webkit-column-count: 3;
    column-count: 3
}
.slide .shout {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    padding-left: 96px;
    width: 100%;
    color: #fff;
    line-height: 1.1;
    font-size: 112px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.slide .shout a {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.06em, currentColor), color-stop(.06em, transparent)) repeat-x;
    background: linear-gradient(to top, currentColor .06em, transparent .06em) repeat-x;
    color: inherit
}
.slide .shout::after {
    position: absolute;
    top: -300%;
    right: 0;
    bottom: -300%;
    left: 0;
    z-index: -1;
    background: #4caf50 linear-gradient(135deg, #4caf50 50%, #449e48 50%) no-repeat;
    content: ''
}
.slide .cover {
    z-index: -1;
    max-width: 100%;
    max-height: 100%
}
.slide .cover.w,
.slide .cover.width {
    width: 100%;
    max-height: none
}
.slide .cover.h,
.slide .cover.height {
    height: 100%;
    max-width: none
}
.slide .cover+figcaption {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 12px;
    opacity: .7;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: translateX(100%) rotate(-90deg);
    transform: translateX(100%) rotate(-90deg)
}
.slide .cover+figcaption.white {
    color: #fff
}
.slide .cover+figcaption a {
    color: currentcolor
}
.slide .cover,
.slide .place {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.slide .place.b.l,
.slide .place.b.r,
.slide .place.bottom.left,
.slide .place.bottom.right,
.slide .place.t.l,
.slide .place.t.r,
.slide .place.top.left,
.slide .place.top.right {
    -webkit-transform: none;
    transform: none
}
.slide .place.b,
.slide .place.bottom,
.slide .place.t,
.slide .place.top {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}
.slide .place.l,
.slide .place.left,
.slide .place.r,
.slide .place.right {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}
.slide .place.t,
.slide .place.t.r,
.slide .place.top,
.slide .place.top.left,
.slide .place.top.right {
    top: 0
}
.slide .place.r,
.slide .place.right {
    right: 0;
    left: auto
}
.slide .place.b,
.slide .place.b.l,
.slide .place.b.r,
.slide .place.bottom,
.slide .place.bottom.left,
.slide .place.bottom.right {
    top: auto;
    bottom: 0
}
.slide .place.l,
.slide .place.left {
    left: 0
}
.progress {
    bottom: 0;
    height: 8px;
    background: #4caf50;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    clip: rect(0 1024px 8px 0);
    -webkit-box-shadow: 512px 0 0 512px #bdbdbd;
    box-shadow: 512px 0 0 512px #bdbdbd
}
.badge {
    font-size: 12px;
    display: none;
    padding: .5em 0 2em;
    width: 100%
}
@media (min-width: 1168px) {
    .badge {
        font-size: 24px
    }
}
@media (min-width: 2336px) {
    .badge {
        font-size: 48px
    }
}
.badge a {
    display: inline-block;
    margin-left: 9em;
    padding-left: 4em;
    color: #9e9e9e
}
.badge svg {
    position: absolute;
    margin: -1.1em 0 0 -4.5em;
    width: 4em;
    height: 4em;
    fill: currentColor
}
.region {
    display: none
}
@media screen {
    .shower.list {
        padding-top: 24px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background: #eee;
        position: absolute;
        clip: rect(0, auto, auto, 0)
    }
}
@media screen and (min-width: 1168px) {
    .shower.list {
        padding-top: 48px
    }
}
@media screen and (min-width: 2336px) {
    .shower.list {
        padding-top: 96px
    }
}
@media screen {
    .shower.list .caption {
        display: block
    }
    .shower.list .slide {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        margin: 0 -768px -552px 24px;
        -webkit-transform: scale(.25);
        transform: scale(.25);
        border-radius: 2px;
        -webkit-box-shadow: 0 12px 4px -8px rgba(0, 0, 0, .2), 0 12px 4px -8px rgba(0, 0, 0, .14), 0 4px 20px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 12px 4px -8px rgba(0, 0, 0, .2), 0 12px 4px -8px rgba(0, 0, 0, .14), 0 4px 20px 0 rgba(0, 0, 0, .12)
    }
}
@media screen and (min-width: 1168px) {
    .shower.list .slide {
        margin: 0 -512px -336px 48px;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}
@media screen and (min-width: 2336px) {
    .shower.list .slide {
        margin: 0 0 96px 96px;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@media screen {
    .shower.list .slide:hover {
        -webkit-box-shadow: 0 16px 20px 0 rgba(0, 0, 0, .2), 0 4px 40px 0 rgba(0, 0, 0, .14), 0 8px 16px -4px rgba(0, 0, 0, .12);
        box-shadow: 0 16px 20px 0 rgba(0, 0, 0, .2), 0 4px 40px 0 rgba(0, 0, 0, .14), 0 8px 16px -4px rgba(0, 0, 0, .12)
    }
    .shower.list .slide.active {
        -webkit-box-shadow: 0 32px 40px 4px rgba(0, 0, 0, .2), 0 12px 56px 8px rgba(0, 0, 0, .14), 0 20px 20px -12px rgba(0, 0, 0, .12);
        box-shadow: 0 32px 40px 4px rgba(0, 0, 0, .2), 0 12px 56px 8px rgba(0, 0, 0, .14), 0 20px 20px -12px rgba(0, 0, 0, .12)
    }
}
@media screen and (min-width: 1168px) {
    .shower.list .slide {
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 2px -4px rgba(0, 0, 0, .2), 0 6px 2px -4px rgba(0, 0, 0, .14), 0 2px 10px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 6px 2px -4px rgba(0, 0, 0, .2), 0 6px 2px -4px rgba(0, 0, 0, .14), 0 2px 10px 0 rgba(0, 0, 0, .12)
    }
    .shower.list .slide:hover {
        -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .2), 0 2px 20px 0 rgba(0, 0, 0, .14), 0 8px 4px -2px rgba(0, 0, 0, .12);
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .2), 0 2px 20px 0 rgba(0, 0, 0, .14), 0 8px 4px -2px rgba(0, 0, 0, .12)
    }
    .shower.list .slide.active {
        -webkit-box-shadow: 0 16px 20px 2px rgba(0, 0, 0, .2), 0 6px 28px 4px rgba(0, 0, 0, .14), 0 10px 10px -6px rgba(0, 0, 0, .12);
        box-shadow: 0 16px 20px 2px rgba(0, 0, 0, .2), 0 6px 28px 4px rgba(0, 0, 0, .14), 0 10px 10px -6px rgba(0, 0, 0, .12)
    }
}
@media screen and (min-width: 2336px) {
    .shower.list .slide {
        border-radius: 8px;
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 3px 1px -2px rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 3px 1px -2px rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
    }
    .shower.list .slide:hover {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2), 0 1px 10px 0 rgba(0, 0, 0, .14), 0 2px 4px -1px rgba(0, 0, 0, .12);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2), 0 1px 10px 0 rgba(0, 0, 0, .14), 0 2px 4px -1px rgba(0, 0, 0, .12)
    }
    .shower.list .slide.active {
        -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .2), 0 3px 14px 2px rgba(0, 0, 0, .14), 0 5px 5px -3px rgba(0, 0, 0, .12);
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .2), 0 3px 14px 2px rgba(0, 0, 0, .14), 0 5px 5px -3px rgba(0, 0, 0, .12)
    }
}
@media screen {
    .shower.list .slide * {
        pointer-events: none
    }
    .shower.list .badge,
    .shower.list .slide footer {
        display: block
    }
    .shower.full {
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        margin: -384px 0 0 -512px;
        width: 1024px;
        height: 768px;
        background: #000
    }
    .shower.full .slide {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -150%;
        visibility: hidden
    }
    .shower.full .slide.active {
        margin: 0;
        visibility: visible
    }
    .shower.full .slide .next {
        visibility: hidden
    }
    .shower.full .slide .next.active {
        visibility: visible
    }
    .shower.full .slide .shout::after {
        background-position: 1024px 0;
        -webkit-transition: background-position .4s ease-out;
        transition: background-position .4s ease-out
    }
    .shower.full .slide.active .shout::after {
        background-position: 0 0
    }
    .shower.full .progress {
        display: block
    }
    .shower.full .region {
        position: absolute;
        clip: rect(0 0 0 0);
        overflow: hidden;
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: none;
        display: block
    }
}
.shower.full .slide pre code .mark.next {
    visibility: visible;
    background: 0 0
}

.shower.full .slide pre code .mark.next.active {
    background: darkgoldenrod;
}
.shower.full .slide pre code .mark.important.next.active {
    background: red;
}