section.slide#inputRadio
	div
		h2
			code &lt;input&gt;
			| &nbsp;radio
		p Переключатель

		pre
			code &lt;input type="radio" name="iso_code" value="uk"/&gt;
			code &lt;input type="radio" name="iso_code" value="en"/&gt;
			code &lt;input type="radio" name="iso_code" value="de"/&gt;

		.example
			input#uk(type='radio', name='iso_code', value='uk')
			label(for='uk') UK
			input#en(type='radio', name='iso_code', value='en', checked)
			label(for='en') EN
			input#de(type='radio', name='iso_code', value='de')
			label(for='de') DE