section.slide#inputHtml5
	div
		h2 HTML5 типы input

		div
			| color, date, datetime, datetime-local, email, month, number, range, search, tel, time, url, week.
			a(href='http://caniuse.com', target='_blank') Can i use

		img(src='images/types-support.png', height='320')