/* Inline */

.slide a {
  background-image: linear-gradient(to top, currentColor 0.08em, transparent 0.08em);
  background-repeat: repeat-x;
  color: var(--color-key);
  text-decoration: none;
}

.slide code,
.slide kbd,
.slide mark,
.slide samp {
  padding: 0.1em 0.3em;
}

.slide code,
.slide kbd,
.slide samp {
  background-color: var(--color-back);
  line-height: 1;
  font-family: 'Roboto Mono', monospace;
}
.slide code.console {
  padding: 17px 20px 20px;
  white-space: pre-wrap;
  width: inherit;
  margin: 20px 0px;
  background-color: #282c34;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
}

.slide pre code.console::before {
  content: '';
}

.slide mark {
  background-color: var(--color-yellow);
}

.slide sub,
.slide sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%;
}

.slide sub {
  bottom: -0.25em;
}

.slide sup {
  top: -0.5em;
}
