/* Table */

.slide table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Cells */

.slide th,
.slide td {
  padding-top: 0;
  padding-bottom: 0;
}

.slide th {
  text-align: left;
  font-weight: bold;
}

/* Lines */

.slide tr:not(:last-of-type) > * {
  background-image: linear-gradient(to top, var(--color-light) 0.06em, transparent 0.06em);
  background-repeat: repeat-x;
}

/* Stripes */

.slide table.striped tr:nth-child(even) {
  background-color: var(--color-back);
}

.slide table.striped tr > * {
  background-image: none;
}

/* Marked Row */

.slide tr.mark {
  background-color: var(--color-yellow);
}

/* Next Marked Row */

.slide tr.mark.next {
  visibility: visible;
  background-color: transparent;
}

.slide tr.mark.next.active,
.slide tr.mark.next.visited {
  background-color: var(--color-yellow);
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

td,
th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
  font-size: 18px;
}

tr {
  border-top: 1px solid #dfe2e5;
}
