<template>
    <div class="wrapper">
        <input type="range" min="0" max="100" step="1" v-model="internalValue" @input="onInput">
    </div>
</template>

<script>
    export default {
        name: 'Slider',
        data() {
            return {
                internalValue: 0
            }
        },
        props: {
            value: {
                type: Number
            }
        },
        watch: {
            value() {
                this.internalValue = this.value;
            }
        },
        methods: {
            onInput() {
                this.$emit("input", `${this.internalValue}s`)
                
            }
        }
    }
</script>

<style scoped>
    input{
        width: 200px;
    }
</style>
