<html>

  <head>

    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>

    <style>
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    </style>
  </head>


  <body>

    <div id="app">
      {{ message }}
      <input type="text" v-model="message" /><br />
      <input type="text" v-bind:value="message" @keyUp="onChange" />
      <br />
      <span v-html="message"></span>
      <span v-text="message"></span>
      {{ message.split('').reverse().join('') }}
      {{ message == "YES" ? 'NO': 'YES' }}
      <br />
      <button :disabled="disabled" @click="onClick()">Click me!</button>
      <br />
      <div>
        <span v-show="message == 'YES'">NO</span>
        <span v-show="message != 'YES'">YES</span>
      </div>
      <div>
        <template v-for="todo in todos">
          <span v-text="todo" v-bind:class="{ red: todo == 'Courses', green: todo != 'Courses'}"></span>
        </template>
      </div>
    </div>
  </body>

  <script>
  
    new Vue({
      el: '#app',
      data: {
        message: 'Hello world!',
        disabled: false,
        todos: [
          "Hello",
          "World",
          "Viseven",
          "Courses",
        ]
      },
      methods: {
        onChange(event) {
          this.message = event.target.value;
        },
        search() {

        },
        onClick() {
          this.disabled = true;
        }
      }
    });

  </script>
</html>