:host {
  display: block;
  width: 300px;
  height: 200px;
  position: relative;
}

:host.default{
  display: flex;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

:host.default p{
  font: 16px/32px Helvetica;
  text-transform: uppercase;
}
