<template>
  <div id="app">
    <img alt="Vue logo" :src="img">
    <Counter />
    <ButtonPlus :value="1" />
    <ButtonPlus :value="-1" />
    <router-link to="/">Home</router-link> <router-link to="/about">About</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
import Counter from './components/Counter';
import ButtonPlus from './components/ButtonPlus';

export default {
  name: 'app',
  components: {
    Counter,
    ButtonPlus
  },
  data: () => {
    return {
      img: './assets/logo.png',
    };
  },
}
</script>
<style>
</style>
