.pa {
    position: absolute;
    top: 0;
    left: 0;
}

.pa-t-l-200 {
    top: 200px;
    left: 200px;
}

.slide {
    width: 1024px;
    height: 768px;
    border-bottom: 4px solid #00a6e1;
}

h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    font: 24px Helvetica;
    text-transform: uppercase;
}

#logo {
    width: 100px;
    height: 50px;
    top: 680px;
    left: 880px;
}
