<template>
  <button @click="click">Plus</button>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'ButtonPlus',
  props: {
    value: Number
  },
  methods: {
    ...mapActions([
      'change'
    ]),
    click() {
      this.change(this.value);
    }
  }
}
</script>
<style>
</style>