<template>
  <div>
    Count: {{ count }}
  </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
  name: 'Counter',
  computed: {
    ...mapState([
      'count'
    ])
  }
}
</script>
<style>
</style>