<template>
  <div>
    ID: {{ id }} {{ ID2 }}
  </div>
</template>
<script>
export default {
  name: 'Items',
  props: [
    'id'
  ],
  computed: {
    ID2() {
      return this.id + this.id;
    }
  },
  mounted() {
    fetch(`${this.id}.json`)
  }
};
</script>
<style>

</style>
